/* src/App.css */
.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

.app-container {
  display: flex;
}

.side-menu {
  width: 200px;
  background-color: #f4f4f4;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.side-menu button {
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
}